
language: perl
perl:
  - "5.38"
  - "5.28"
  - "5.22"
# perlbrew (used by Travis to install perl versions) no longer supports these
# lower versions
# - "5.14"
# - "5.10"

services:
  - mysql
  - postgresql

before_install:
  - ./test/install-db.sh

install:
  - ./test/install-deps.sh

script:
  - HARNESS_IS_VERBOSE=1 prove -v -Ilib t

after_success:
  - rm dmarc_reports.sqlite || echo "ok"
  - rm t/reports-test.sqlite || echo "ok"
  - cpanm -n Devel::Cover::Report::Coveralls
  - cover -test -make 'prove -Ilib t' -report coveralls

sudo: true
