language: perl
perl:
  - "5.22"
# perlbrew (used by Travis to install perl versions) no longer supports these
# lower versions
# - "5.14"
# - "5.10"

services:
  - mysql
  - postgresql

before_install:

install:
   - cpanm --quiet --notest Regexp::Common Config::Tiny File::ShareDir Net::DNS::Resolver
   - cpanm --quiet --notest DBD::SQLite DBD::Pg DBD::mysql
   - cpanm --quiet --notest Net::IP Socket6 Email::MIME Net::SMTPS XML::LibXML
   - cpanm --quiet --notest DBIx::Simple HTTP::Tiny Test::File::ShareDir Test::Output
   - cpanm --quiet --notest Net::IDN::Encode CGI

before_script:
  - psql -c 'CREATE DATABASE dmarc_report;' -U postgres
  - psql -U postgres dmarc_report < share/mail_dmarc_schema.pgsql
  - mysql -e 'CREATE DATABASE IF NOT EXISTS dmarc_report;'
  - mysql -u travis --password='' -p dmarc_report < share/mail_dmarc_schema.mysql

script:
   - HARNESS_IS_VERBOSE=1 prove -v -Ilib t

after_success:
  - cpanm -n Devel::Cover::Report::Coveralls
  - cover -test -make 'prove -Ilib t' -report coveralls

sudo: true
