language: perl
perl:
  - "5.20"
  - "5.14"
  - "5.10"

before_install:

install:
   - cpanm --quiet --notest Regexp::Common Config::Tiny File::ShareDir Net::DNS::Resolver
   - cpanm --quiet --notest Net::IP Socket6 Email::MIME DBD::SQLite Net::SMTPS XML::LibXML
   - cpanm --quiet --notest DBIx::Simple HTTP::Tiny Test::File::ShareDir Test::Output
   - cpanm --quiet --notest Net::IDN::Encode CGI

script:
   - HARNESS_IS_VERBOSE=1 prove -v -Ilib t

after_success:
  - cpanm -n Devel::Cover::Report::Coveralls
  - cover -test -make 'prove -Ilib t' -report coveralls
